* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
html, body {
  font-family: Arial, sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  main {
    flex: 1 0 auto;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.password-eye-error {
  // top: 35% !important;
  // margin-right: 2rem !important;
}