.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.reset-password {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    padding: 20px;
    background-color: #fff; /* Adjust background color as needed */
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
}

/* Adjust font size and padding for smaller screens */
@media (max-width: 576px) {
    .content-container{
        min-height: 65vh;
    }
}

/* Increase font size and height for larger screens */
@media (min-width: 1200px) {
    .content-container {
        min-height: 65vh;
    }
}