.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  width: 700px;
  object-fit: contain; /* Ensures the image scales correctly within its bounds */
}
